<% provide(:page_title, "Edit #{@post.title}") %>
<div class="form-horizontal">
  <fieldset>
    <div class="well col-xs-8 col-xs-offset-2">
      <legend align="center"><strong>Editing Post</strong></legend>
      <div class="panel-body">
        <%= render 'form', post: @post %>
      </div>
    </div>
  </fieldset>
</div>
