<% provide(:page_title, 'New Post') %>

<div class="form-horizontal">
  <fieldset>
    <div class="well col-xs-8 col-xs-offset-2">
      <legend align="center"><strong>New Post</strong></legend>
      <div class="panel-body">
        <%= render 'form', post: @post %>
      </div>
    </div>
  </fieldset>
</div>
