<div class="container">
  <footer class="footer">
    <small>
    Copyright © <a href="https://github.com/bogil-Gong">中央大学商学部金融学科</a>
    by <a href="https://github.com/bogil-Gong">Bogil Gong</a>
    </small>
    <nav>
      <ul>
        <li></li>
      </ul>
    </nav>
  </footer>
</div>
